* {
    user-select: none;
}

html {
    width: 100%;
    height: 100%;
    font-size: 5vmax;
}

body {
    padding: 30px;
}

.activeTicket {
}

.yourTicket {
}

.handUpInfo {
    text-align: center;
    font-stretch: ultra-expanded;
}

.errorNotification .title {
    color: red;
    padding-bottom: 30px;
}

.errorNotification .description {
    color: darkred;
    font-size: small;
}

.hiddenInStartup  {
    display: none;
}

.handState {
}

.handImage {
    width: 100%;
    height: 40vh;
    background-image: url(/images/hands-512.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: Auto 100%;
    transition: background-color 500ms linear
}

.handsUpButton {
    background-color: yellow;
}

.handsDownButton {
    background-color: transparent;
    transition: background-color 500ms linear;
}