* {
    user-select: none;
}

html {
    width: 100%;
    height: 100%;
    font-size: 5vmax;
}

body {
    padding: 30px;
}

.activeTicket {
}

.yourTicket {
}
.ticket-info {
    font-size: small;
    text-align: center;
}
hr {
    margin: 1px;
}

.rate-panel-label {
    font-size: x-small;
    text-align: center;
}

.handUpInfo {
    text-align: center;
    font-stretch: ultra-expanded;
    font-size: small;
}

.errorNotification .title {
    color: red;
    padding-bottom: 30px;
}

.errorNotification .description {
    color: darkred;
    font-size: small;
}

.hiddenInStartup {
    display: none;
}

.handState {
}

.rate-button {
    font-size: 10vw;
}

.rate-button__selected {
    background-color: gold;
}

.rate-panel {
    text-align: center;
}

.rate-selector {
    font-size: 2vh;
}

.handImage {
    width: 100%;
    height: 40vh;
    background-image: url(/images/hands-512.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: Auto 100%;
    transition: background-color 500ms linear
}

.handsUpButton {
    background-color: yellow;
}

.handsDownButton {
    background-color: transparent;
    transition: background-color 500ms linear;
}
